*{
    padding: 0;
    margin: 0;
    color: white;
    font-size: 14px;
}

main{
    width: max-content;
    height: 100%;
    overflow-x: scroll;
    /* background-color: #131921;   */
}

.Navmain{
    overflow-x: scroll;
    background-color: #131921;  
    justify-content: space-between;
}

.Navmain::-webkit-scrollbar{
    background-color: transparent;
}

#navbar{
    height: 55px;
    width: 100%;
    background-color: #131921;
    border: 2px #131921 solid;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.navbar-left{
    display: flex;
}

.Navbar1{
    display: flex;
    font-size: 18px;
    height: 50px;
    margin: 5px;
    padding: 0px 5px;
}

.Navbar1:hover{
    border: 2px white solid;
}

.ri-map-pin-line{
    margin: 20px 5px 20px 10px;
    padding: 0px 0px;
    font-size: 22px;
}

#Address{
    font-size: 16px;
    margin: 10px 5px;
    width: max-content;
}

.navbar-filler{
    display: flex;
    width: 100%;
}

#Search-Menu{
    display: flex;
    height: 40px;
    width: 100%;
}

#Search-Menu:hover{
    border: 4px solid orange;
    border-radius: 5px;
}

#Menu-Options{
    padding: 10px 9px 10px 3px;
    background-color: rgb(200, 199, 199);
    color: rgb(66, 64, 64);
    height: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0px;
    text-align: center;
}

#Menu-Options:hover{
    color: black;
    background-color: rgb(174, 172, 172);
}

.Opt{
    background-color: white;
    color: black;
}

#Search{
    height: 40px;
    color: #131921;
    background-color: aliceblue;
    border: #131921 solid 0px;
    background-color: whitesmoke;
    border: 0px;
    width: 200%;
}

.ri-search-line{
    color: #131921;
    background-color: orange;
    font-size: 23px;
    padding: 4.5px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    height: 31px;
    width: 30px;
    text-align: center;
}

.navbar-right{
    display: flex;
}

#flag{
    margin-top: 10px;
}

#Language{
    height: 40px;
    background-color: #131921;
    margin: 18px 5px;
    border-width: 0px;
    height: 30px;
    width: 40px;
}

#SignIn{
    height: 40px;
    background-color: #131921;
    margin: 5px 10px;
    border-width: 0px;
    height: 45px;
    width: 120px;
}

.ri-arrow-down-s-fill{
    color: white;
}

#Return{
    margin: 3px;
    width: 60px;
}

.ri-shopping-cart-line{
    margin: 10px;
    padding: 0px 0px;
    font-size: 22px;
}

.Navbar2{
    margin-top: 5px;
    display: flex;
    width: 100%;
    background-color: #232f3e;
    align-items: center;
    height: 40px;
    
}

.BTN{
    align-items: center;
    background-color: #232f3e;
    border: #232f3e solid ;
    font-family:Arial, Helvetica, sans-serif;
    padding : 8px 12px;
    width: max-content;
}

.BTN:hover{
    border: 2px solid white;
}

#Navbar2-left{
    display: flex;
    margin-left: 10px;
}

#Navbar2-filler{
    display: flex;

}

#Navbar2-right{
    display: flex;
    align-self: end;
    margin-left: 40px;
    margin-right: 5px;
}

#Download{
    font-size: 16px;
    font-weight: bold;
    color: rgb(196, 193, 193);
    
}

#AMZ-Logo{
    margin: -7px 0px -8px -8px;
}