*{
    padding: 0;
    margin: 0;
    color: white;
    font-size: 14px;
}

.main{
    overflow-x: scroll;
    background-color: #131921;    
}

#navbar{
    height: 55px;
    background-color: #131921;
    border: 3px #131921 solid;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    justify-content: space-between;
}

.Navbar1{
    display: flex;
    font-size: 18px;
    height: 50px;
    margin: 5px;
    padding: 0px 5px;
}

.Navbar1:hover{
    border: 2px white solid;
}

.ri-map-pin-line{
    margin: 20px 5px 20px 10px;
    padding: 0px 0px;
    font-size: 22px;
}

#Address{
    margin: 10px 5px;
    width: 200px;
}

#Search-Menu{
    display: flex;
    height: 40px;
    margin: 5px 5px;
}

#Search-Menu:hover{
    border: 4px solid orange;
    border-radius: 5px;
}

#Menu-Options{
    padding: 10px 20px;
    background-color: rgb(200, 199, 199);
    color: rgb(66, 64, 64);
    height: 40px;
    width: 80px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0px;
    margin-right: -1px;
    z-index: 2;
}

#Menu-Options:hover{
    color: black;
    background-color: rgb(174, 172, 172);
}

#Search{
    height: 40px;
    color: #131921;
    width: 450px;
    background-color: aliceblue;
    border: #131921 solid 0px;
    background-color: whitesmoke;
    border: 0px;
}

#Search:hover{
    border-color: white;
}
.ri-search-line{
    color: #131921;
    background-color: orange;
    font-size: 23px;
    padding: 4.5px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-left: -1px;
    height: 31px;
    width: 30px;
    text-align: center;
}

#flag{
    margin-top: 10px;
    margin-right: -3px;
}

#Language{
    height: 40px;
    background-color: #131921;
    margin: 18px 5px;
    border-width: 0px;
    height: 30px;
    width: 40px;
}

#SignIn{
    height: 40px;
    background-color: #131921;
    margin: 5px 10px;
    border-width: 0px;
    height: 45px;
    width: 120px;
}

.ri-arrow-down-s-fill{
    color: white;
}

#Return{
    margin: 3px;
    width: 60px;
}

.ri-shopping-cart-line{
    margin: 10px;
    padding: 0px 0px;
    font-size: 22px;
}
