/* CSS Reset */
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    padding: 0;
    margin: 0;
    background: url('../Images/Yoga.png');
    color: white;
}

.header{
    display: flex;
    border-bottom: 5px rgba(29, 26, 26, 0.433) double;
}

.header .left{
    display: flex;
    position: absolute;
    left: 24px;
    top: 0px;
    margin: 20px 0;
}

.header .left img{
    border-radius: 50%;
    width: 80px;
}

.header .left div{
    font-size: 25px;
    margin: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    color: blanchedalmond;
}


.header .mid{
    display: block;
    width: 40%;
    text-align: center;
    margin: 15px auto;
}


.navbar{
    display: inline-block;
}

.navbar li{
    display: inline-block; 
    font-size: 18px;
    padding: 15px;
}

.navbar li a{
    color: whitesmoke;
    text-decoration: none;
    
}

.navbar li a:hover, .navbar li a.active{  
    text-decoration: underline;
    color: black;
    
}


.header .right{
    display: inline-block;
    position: absolute;
    right: 24px;
    top: 0px;
    margin: 20px 0;
}

.header .right .btn, .sidebar .ance .btn{
    margin: 5px;
    color: white;
    background-color: black;
    padding: 10px;
    font-size: 17px;
    border: 2px black solid;
    cursor: pointer;
}

.header .right .btn:hover, .sidebar .ance .btn:hover{
    background-color: rgb(60, 60, 60);
}

.header .menu{
    width: 100%;
    display: none;
    justify-content : end;
    cursor: pointer;
}

.header .menu .ri-menu-line{
    font-size: 60px;
    padding: 10px;
    text-align: end;
}

/* @media(min-width:500px) and (max-width:1214px){
    .header .right{
        display: none;
    }
    .header .menu{
        display: flex;
    }
    .header{
        justify-content: center;
    }
    .sidebar .anve .hide{
        display: none;
    }
} */


@media(max-width: 1215px){
    .header .mid, .header .right{
        display: none;
    }
    .container{
        margin: 150px
    }
    .container h1{
        font-size: 11px;
    }
    .header .menu{
        display: flex;
    }
}

.sidebar{
    padding-top: 5%;
    position: absolute;
    display:flex;
    flex-direction: column;
    align-items: center;
    right: 0%;
    top: 0%;
    width: 200px;
    height: max-content;
    background-color: black;
    border-radius: 10px;
    display: none;
}

.sidebar .ance{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: auto;
}
.sidebar .ance .side{
    font-size: 20px;
    margin: 15px 0;
}

.sidebar .side{
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
}
.sidebar .ance .close .ri-close-fill{
    font-size: 60px;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.container{
    display: block;
    border: 2px solid wheat;
    margin: 80px auto;
    padding: 75px;
    border-radius: 28px;
    width: 40%;
}

.container h1{
    text-align: center;
}

.container .form-group .Form-input{
    display: block;
    width: 90%;
    text-align: center;
    padding: 10px;
    background-color: gainsboro;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    margin: 10px auto;
    font-size: 18px;
}

.container .form-group .Gender{
    display: block;
    width: 75%;
    text-align: center;
    padding: 10px;
    background-color: gainsboro;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    margin: 10px auto;
    font-size: 18px;
}

.container .btn{
    display: block;
    margin: 25px auto;
    color: white;
    background-color: black;
    padding: 15px 75px;
    font-size: 14px;
    border-radius: 10px;
    border: 2px whitesmoke double;
    cursor: pointer;
}