*{
    padding: 0%;
    margin: 0%;
    font-size: 18px;
    color: White;
}
#nevbar{
    background-color:rgb(6, 6, 17);
    display: flex;
    justify-content: space-between;
    padding: 30px 10px 30px 10px;
}
#Address{
    justify-content: space-between;
}
#buttons{
    justify-content: space-evenly;
}
#ExamSchedule{
    background-color: red;
    border-radius: 10px;
    padding: 3% 3% 3% 3%;
    font-size: 15px;

}
#EmailLogin{
    background-color: green;
    border-radius: 10px;
    padding: 3% 3% 3% 3%;
    font-size: 15px;
}
#RTI{
    background-color: blue;
    border-radius: 10px;
    padding: 3% 3% 3% 3%;
    font-size: 15px;
}